{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        {% include "includes/css.html" %}
        {% block css %}
        {% endblock  %}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap" rel="stylesheet">
        <title>SaaS</title>
    </head>
    
    <body>
        {% include "includes/nav.html" %}
        {% include "includes/messages.html" with messages=messages%}
        {% block content %}
        {% endblock %}
        {% include "includes/js.html" %}
        
    </body>

</html>